body{
  height: 1440px;
  padding:0px;
  margin: 0px;
}
header{
  height:129.6px;
  width:inherit;
  background-color: #000000;
  opacity: .8;
  margin: 0 auto;
}
#logo{
   height: 60%;
   width: auto;
   margin: 0 45%;
 }
nav{
  margin:0 auto;
  width: 57%;
}
nav a{
   font-size: 20px;
   background-color: #000000;
   border-left: none;
   border-top: none;
   border-bottom: none;
   color: #999999
 }
a:hover{
  text-decoration: underline;
}
#banner{
  height: 200px;
  width:inherit;
  background-color: white;
}
#banner1{
  height:90%;
  width:98%;
  margin: 10px;
}
#banner:hover{
  background-color: #43853d;
}
#text{
  height:100px;
  width:inherit;
  margin: 30px;
}
#para{
  text-align: center;
  font-size:19px;
  font-family: Helvetica, sarif;
  margin: 0 20%;
}
#largewindows{
  height:100px
  width:inherit;
  margin: 0px;
}
#windows{
  font-size: 40px;
  margin: 0px 30%;
}
#buttonall{
  height:100px;
  width:50%;
  margin:0 auto;
}
#dlbutton{
  height:75px;
  width:200px;
  background-color: #026e00;
  float:left;
  margin-right: 75px;
}
#dlbutton2{
  height:75px;
  width:200px;
  background-color: #026e00;
  float:left;
  margin-left: 100px;
}
#text1{
 text-align: center;
 font-size: 19px;
 font-weight: 400;
 margin: 0 auto;
}
#text2{
 text-align: center;
 font-size: 18px;
 font-weight: 400;
 margin: 0 auto;
}
#dlbutton2:hover{
  opacity: .8;
}
#dlbutton:hover{
  opacity: .8;
}
#altdown{
    height: 35px;
    width:40%;
    margin: 0 auto;
    font-size: 14px;
}
#link2{
    margin-left: 30px;
}
#link1{
    margin-right: 30px;
    float: left;
}
